body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    height: 10rem;
}

.container{
    display: flex;
    align-items: center;
}

.container img{
  height: 160px;
}

.navbar-container ul{
    display: flex;
    list-style: none;
    padding: 10px;
}

.itens-container li{
    margin: 0 auto;
    padding: 0rem 1rem;
    font-weight: bold;    
}

.itens-container a{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #222222;
}
.nav-left a:hover{    
    transition:all 0.3s ease;
    color: #FF0000;
}

.nav-rigth a:hover{
    transition:all 0.3s ease;
    color: #00F3FF;
}

.img-titulo img{
    width: 100%;
}
.titulo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 0 ;
}
.titulo-card{   
    position: absolute;
    top:10px;    
}
.container-sobre{
    display: flex;
    height: 75vh;
    width: 100%;
    color: #222222;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
}

.cards{
    display: flex;
    height: 24.5rem;
    justify-content: center;
    align-items: center;
}

.card-1{
    display: flex;     
    justify-content: center;   
    align-items: center;
    background-color: #6C7B8E;
    color: white;
    height: 50vh;
    width: 35vw;    
    margin-right: 2.5rem;
    padding: 0.5rem;
    position: absolute;
}

.card-1 p{
    margin-right: 90px;
    text-align: justify;
}
.card-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9C231;    
    color: white;
    height: 35vh;
    width: 23vw;
    margin: 0 0 0 700px;
    position: relative;
}

.card-2 p{
    margin: 0 20px;
}

ul{
    list-style: none;
}
/* 
.rodape{
    background-color: #222222;
    height: 250px;
} */

#produto{
    height: 60vh;
}

.contato{
    display: flex;
    height: 75vh;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.card-contato img{
    margin-top: 35px;
} 


.card-contato img{
    height: 70px;
    width: 70px;
}
/* .mapa{
    display: flex;
    justify-content: center;
    margin-top: 17px;
} */
#home:target ~ header #link-home a,
#produto:target ~ header #link-produto a,
#sobre:target ~ header #link-sobre a,
#contato:target ~ header #link-contati a{
    background: rgb(51, 51, 51);
    color: rgb(206, 42, 42);
}